.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
  /* padding-left: 100px; */
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
    /* padding-left: 100px; */
  }

.rslides li:first-child {
  position: relative;
  display: block;
  /* float: left; */
    /* padding-left: 100px; */
  }

.rslides img {
 	display: block;
	height: auto;
	float: left;
	border: 0;
	width: 100%;
	border-top: 0px solid #a086d3;
	border-bottom: 0px solid #a086d3;
	  /* padding-left: 100px; */
  }
